/* styles.css */

/* Body and General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  .header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Form Styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .input-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px; /* adjust as needed */
    overflow-y: auto; /* add a scrollbar if necessary */
  }
  .user-details {
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px; /* adjust as needed */
  }
  .dashboard-content {
    flex: 100;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  